{{ define "main" }}

<section>
    <h1>{{ .Title }}</h1>
</section>

<div class="writing-filters">
    <label data-tag="math">math</label>
    <label data-tag="code">code</label>
    <label data-tag="music">music</label>
    <label data-tag="chess">chess</label>
    <label data-tag="poetry">poetry</label>
    <label data-tag="quotes">quotes</label>
    <label data-tag="painting">painting</label>
    <label data-tag="games">games</label>
    <label data-tag="food">food</label>
</div>

<div class="blog-list" id="writing-grid">
    {{ range .Pages.ByDate.Reverse }}
    <a class="post {{ range .Params.tags }}tag-{{ . }} {{ end }}" href="{{ .RelPermalink }}">
        <span class="title">{{ .Title }}</span>
        <span class="hline"></span>
        <span class="publishDate">{{ .Date.Format "Jan '06" }}</span>
    </a>
    {{ end }}
</div>

<script src="/scripts/writing-filter.js"></script>

{{ end }}
