---
import { cn } from '@/utils'

const { class: className, text, color, outline = false } = Astro.props
---

{
	outline ? (
		<span
			class={cn(
				className,
				'rounded-md border border-border bg-transparent px-2 text-xs text-muted-foreground'
			)}
		>
			{text}
		</span>
	) : (
		<span
			class={cn(className, 'flex flex-col gap-y-3 rounded-md bg-primary-foreground px-2 text-xs text-white')}
			style={{ backgroundColor: color }}
		>
			{text}
		</span>
	)
}
