{{ define "main" }}

<div class="main-paragraph">
  <div class="front-intro-photo">
    <img src="/images/profile.jpeg" alt="Kenyi Takagui-Perez">
  </div>

  <p class="front-header">Kenyi Takagui-Perez</p>

  <p class="front-text">
    I am a physicist turned ML engineer. My research spans condensed matter theory, ionospheric physics, and machine learning.
  </p>

  <p class="front-text">
    I completed my M.Sc. in Theoretical Condensed Matter Physics at the
    <a href="https://www.ib.edu.ar/institutional-information-english-version/">Balseiro Institute</a> and the
    <a href="https://www.cab.cnea.gov.ar/en/">Bariloche Atomic Center</a>,
    advised by <a href="https://scholar.google.com/citations?user=T6qxAnkAAAAJ&hl=en">Armando Aligia</a>.
    My thesis studied the effect of Coulomb repulsion on Majorana zero modes
    in quantum-dot–superconducting-nanowire hybrid systems, supported by a CNEA Fellowship.
  </p>

  <p class="front-text">
    Earlier, I worked with
    <a href="https://scholar.google.com/citations?user=EC6p9kIAAAAJ&hl=en">Yoshiharu Kohayakawa</a>
    at the <a href="https://combo.ime.usp.br">University of São Paulo</a> on nonlocality and graph parameters in quantum information,
    and with <a href="https://scholar.google.com/citations?user=2uw2cyAAAAAJ&hl=en">Pablo Bueno</a>
    from <a href="https://home.cern">CERN</a> on holographic entanglement entropy.
  </p>

  <p class="front-subheader">Publications</p>
  <p class="front-text">
    Find all published research <a href="https://scholar.google.com/citations?user=mP_MQh0AAAAJ&hl=en">here</a>.
  </p>

  <div class="publications">
    <div class="paper">
      <p class="title">
        Effect of interatomic repulsion on Majorana zero modes in a coupled quantum-dot–superconducting-nanowire hybrid system
      </p>
      <p class="authors">
        <a>Kenyi Takagui-Perez</a>, Armando Aligia
      </p>
      <p class="details">
        We study the low-energy eigenstates of a topological superconductor wire modeled by a Kitaev chain connected to a quantum dot, using an unrestricted Hartree-Fock approximation to analyze the effect of Coulomb repulsion on Majorana end states.
      </p>
      <p class="type">Physical Review B, 2024</p>
      <div class="misc">
        <div>[<a href="https://journals.aps.org/prb/abstract/10.1103/PhysRevB.109.075416">Journal</a>]</div>
        <div>[<a href="https://arxiv.org/pdf/2309.10888">arXiv</a>]</div>
      </div>
    </div>

    <div class="paper">
      <p class="title">
        A note on an inversion algorithm for vertical ionograms for the prediction of plasma frequency profiles
      </p>
      <p class="authors">
        <a>Kenyi Takagui-Perez</a>, Marco Milla
      </p>
      <p class="details">
        A refined multi-quasi-parabolic method for modeling the E and F ionospheric layers, addressing inaccuracies in prior work and providing a more robust algorithm for plasma frequency profile prediction from ionograms.
      </p>
      <p class="type">In Submission, 2024</p>
      <div class="misc">
        <div>[<a href="https://arxiv.org/pdf/2411.09215">arXiv</a>]</div>
      </div>
    </div>

    <div class="paper">
      <p class="title">
        Holographic Entanglement Entropy
      </p>
      <p class="authors">
        <a>Kenyi Takagui-Perez</a>, advised by Pablo Bueno
      </p>
      <p class="details">
        An overview of entanglement entropy in quantum mechanics, quantum field theory, and the Ryu-Takayanagi conjecture connecting entanglement to minimal surfaces in anti-de Sitter space.
      </p>
      <p class="type">Senior Thesis, Pontificia Universidad Católica del Perú, 2022</p>
      <div class="misc">
        <div>[<a href="/Files/bachelor_thesis.pdf">PDF</a>]</div>
      </div>
    </div>
  </div>

  <p class="front-subheader">Say Hi!</p>

  <ul class="front-company-list">
    <li><a href="https://twitter.com/taogenna">Twitter</a></li>
    <li><a href="https://github.com/TAOGenna">GitHub</a></li>
    <li><a href="https://taogenna.github.io/kenyi-blog/">Blog</a></li>
    <li><a href="mailto:kenyi.rtp@gmail.com">Email</a></li>
    <li><a href="/Files/resume.pdf">CV</a></li>
    <li><a href="https://scholar.google.com/citations?user=mP_MQh0AAAAJ&hl=en">Google Scholar</a></li>
    <li><a href="https://www.linkedin.com/in/kenyitakagui/">LinkedIn</a></li>
  </ul>
</div>

{{ end }}
